<section class="about-wrapper">
	<ajax-loader promise="admCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-header>
			<h2>Приветствуем</h2>
		</md-card-header>
		<md-card-content layout="column">
			<p>
				Данная система предназначена для участников и организаторов программы <i>НОП Полет</i>.
				<br>Пользователями системы являются <i>участники программы</i>, <i>психологи</i> и <i>кураторы программы</i>.
			</p>
			<h3>Участник программы</h3>
			<p>
				Имеет возможность проходить <i>психологические тесты</i> и просматривать состояние и динамику изменения своих <i>психологических характеристик</i>.
			</p>
			<h3>Психолог</h3>
			<p>
				Имеет возможность руководить <i>группой</i> из участников программы, назначать прохождение определенных тестов участникам своей группы, просматривать <i>статистику</i> по характеристикам участников своей группы.
			</p>
			<h3>Куратор</h3>
			<p>
				Имеет возможность <i>администрировать</i> справочники участников, психологов, психологических характеристик и организаций, использовать <i>модуль анализа данных</i> в масштабе всей системы.
			</p>
			<p>
				По всем вопросам и сообщениям об ошибках обращатся по адресу <i>sergeygordeev95@gmail.com</i>
			</p>
		</md-card-content>
	</md-card>
</section>