<div class="normal_distribution_graph_wrapper abs_mask">
  <h3>{{prop.propName}}</h3>
    <canvas ng-if="type === 'chart-line'"
    height="50" 
    id="line"
    class="chart chart-line"
    chart-data="data"
    chart-labels="labels" 
    chart-series="series"
    chart-options="options"
    chart-dataset-override="datasetOverride"
    chart-click="onClick">
    </canvas>
    <canvas ng-if="type === 'chart-bar'"
            height="50"
            id="line"
            class="chart chart-bar"
            chart-data="data"
            chart-labels="labels"
            chart-series="series"
            chart-options="options"
            chart-dataset-override="datasetOverride"
            chart-click="onClick">
    </canvas>
</div>
