<div class="create-ticket-form">
    <ajax-loader promise="edtQstCtrl.promise"></ajax-loader>
    <div layout="row" layout-align="start center">
        <div layout="column">
            <h3>{{test.name}}</h3>
            <span class="light-text">{{test.description}}</span>            
        </div>
        <span flex></span>
        <edit-button is-active="edtQstCtrl.previewMode" with-icon="false" title="Предпросмотр">
        </edit-button> 
    </div>

    <test-view test="test" ng-if="edtQstCtrl.previewMode" callback="edtQstCtrl.togglePreviewMode"></test-view>  
    <form name="testForm" ng-show="!edtQstCtrl.previewMode">
    <md-card-content layout="column" layout-align="start center">
       
            <div class="test-question-edit" layout="column" ng-if="test.questions.length" ng-repeat="question in test.questions track by $index">
                <div layout="row" layout-align="start top">
                    <div class="question-index">{{$index+1}}.</div>
                    <div class="question-content" layout="column">
                        <input required class="question-title" type="text" ng-model="question.title" placeholder="Заголовок вопроса">
                        <input class="question-title" type="text" ng-model="question.description" placeholder="Описание вопроса (не обязательно)">
                            
                        <md-input-container>
                            <label>Тип ответа</label>
                            <md-select flex ng-model="question.type">
                                <md-option ng-value="questionType.type" ng-repeat="questionType in edtQstCtrl.questionTypes">
                                     {{questionType.title}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div ng-if="question.type" layout="column" layout-align="start start">
                            <h3>Варианты ответа:</h3>
                            <div class="question-variant-edit" ng-repeat="variant in question.variants" layout="column">
                                 <div layout="row" layout-align="start center">
                                    <div>{{$index+1}}.</div>
                                    <input flex type="text" ng-model="variant.value" placeholder="Текст ответа">
                                    <input flex="20" type="number" ng-model="variant.weight" placeholder="Вес ответа">
                                    <md-icon class="warn-icon" md-svg-src="{{edtQstCtrl.icons.remove}}" ng-click="edtQstCtrl.removeVariant(question, $index)">
                                        <md-tooltip>Удалить вариант</md-tooltip>
                                    </md-icon>
                                </div>
                            </div>
                            <div layout="row" layout-align="start center">
                                 <md-button ng-if="question.variants.length < 5" class="md-raised md-primary"
                                 ng-click="edtQstCtrl.addVariant(question)"
                                 >Добавить вариант ответа</md-button> 
                            </div>
                        </div>
                    </div>
                    <md-icon flex="none" class="warn-icon" md-svg-src="{{edtQstCtrl.icons.remove}}" ng-click="edtQstCtrl.removeQuestion($index)">
                        <md-tooltip>Удалить вопрос</md-tooltip>
                    </md-icon>
                </div>
            </div>
            <div ng-if="!test.questions.length">На данный момент отсутствуют вопросы к тесту</div>
        <add-button 
            ng-click="edtQstCtrl.addQuestion()" 
            title="Добавить вопрос"></add-button>
    </md-card-content>
    <md-card-footer layout="row" layout-align="end center">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="callback()">Отмена</md-button>
        <md-button style="margin-left: 8px !important;" class="md-accent md-raised" ng-click="testForm.$valid?edtQstCtrl.saveTest():null" type="submit">Сохранить</md-button>
    </md-card-footer>
    </form>
</div>