@import "../../../styles/variables";

.test-question-edit{
	width: 100% !important;
	input{
		padding: 4px;
		&:not(:first-child){
			margin-top: 8px;
		}
		width: 100%;
		border: 1px dashed $GREY !important;
	}
	padding: 8px 0;
	border-bottom: 1px solid $GREY_L;
	&:last-of-type{
		border: none !important;
	}
	h3{
		margin-top: 8px;
	}
	.md-button{
		font-size: 11px !important;
	}

	// &:hover{
	// 	md-icon{
	// 		opacity: 1;
	// 	}
	// }
	md-icon{
		margin: 0 !important;
		// opacity: 0;
		// transition: opacity .5s;
	}
}


.question-index{
	font-size: 20px;
	margin-right: 8px;
}
.question-content{
	width: 100%;
}
.question-title{
	font-size: 20px;
}

.question-variant-edit{
	width: 100%;
	input{
		margin: 8px 0;
		&:not(:first-child){
			margin-left: 8px !important;
		}
	}
	&:hover{
		md-icon{
			opacity: 1;
		}
	}
	md-icon{
		margin: 0 !important;
		opacity: 0;
		transition: opacity .5s;
	}
}

.test-question-edit, 
.question-variant-edit{
	input{
		box-sizing: border-box;
	}
}