<div class="create-ticket-form">
    <md-card-content layout="column" layout-align="start start">
       <!-- <form name="ticketForm">-->
            <md-input-container>
                <label>Имя заявителя</label>
                <input required ng-model="crtTktCtrl.formData.declarantName" type="text">
            </md-input-container>

            <md-input-container>
                <label>Адрес</label>
                <input required ng-model="crtTktCtrl.formData.adress" type="text">
            </md-input-container>

            <md-input-container>
                <label>Телефон</label>
                <!--  <input type="phone"  mask="+9(999) 999-99-99">-->
                <input required type="text" name="phone" mask="9 (999) 999-99-99" clean="true" ng-model="crtTktCtrl.formData.declarantPhone">
            </md-input-container>

            <div flex layout="row" ng-if="!isExternal">
            	<div layout="column">
            		<label>Дата и время планируемого завершения</label>
            		<md-datepicker required ng-model="crtTktCtrl.formData.closedDatePlanned" md-placeholder="Выбрать дату"></md-datepicker>
            	</div>
				<div layout="column" flex>
				 <md-input-container>
					<label>Выбрать время</label>
					<input required type="time" ng-model="crtTktCtrl.formData.closedTimePlanned">
				</md-input-container>
				</div>
            </div>

            <md-input-container class="problem_description">
                <label>Описание проблемы</label>
                <textarea required class="md-bordered" rows="5" ng-model="crtTktCtrl.formData.description" md-select-on-focus></textarea>
            </md-input-container>



<!--             <div layout="row">
    <md-button class="md-raised md-primary" ng-click="ticketForm.$valid?crtTktCtrl.sendTicket(crtTktCtrl.crtTktCtrl.formData):null" type="submit">Отправить заявку</md-button>
    <a ui-sref="auth.signIn" ui-sref-active="active">
        <md-button class="md-bordered md-primary">Войти в систему</md-button>
    </a>
</div> -->
       <!-- </form>-->
    </md-card-content>
</div>