@import "../../../styles/variables.scss";

.create-test-form{
  md-input-container{
    width: 100%;
  }
  .problem_description{
    &:not(.md-input-focused){
      label{margin-left: .5em !important;}
    }
    textarea{
      box-sizing: border-box;
      padding: .5em;
      border-width: 1px !important;
    }
  }
}