<section class="admin-wrapper">
	<ajax-loader promise="tstgCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-header layout="column">
			<h2>{{tstgCtrl.test.name}}</h2>
			<h3 class="light-text">{{tstgCtrl.test.description}}</h3>
		</md-card-header>
		<md-card-content layout="column">
			<test-view 
				ng-if="tstgCtrl.test" 
				test="tstgCtrl.test" 
				callback="tstgCtrl.completeTest"></test-view>
		</md-card-content>
	</md-card>
</section>