<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Результаты теста</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content style="position: relative;">
    <ajax-loader promise="promise"></ajax-loader>
    	<div style="padding: 0 8px;">
			<p>Благодарим за прохождение теста</p>
			<p>Кол-во баллов: {{results.summ}}</p>
			<p>Значение характеристики {{results.propName}}: {{results.propValue}}</p>
			<p>Результат: {{results.message}}</p>    		
    	</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-accent md-raised" ng-click="answer('useful')">
        Ок
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>