<section class="admin-wrapper">
	<ajax-loader promise="gsCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column">
				<div flex layout="row" layout-align="start center">
					<h3>Нормальное распределение</h3>
					<span flex></span>
					<div class="table-settings-panel"  layout="row" layout-align="start center">
						<md-input-container style="width: 250px">
							<label>Уровень значимости (&alpha;)</label>
							<md-select ng-model="gsCtrl.alpha" ng-change="gsCtrl.getResults()">
								<md-option ng-value="0.1">0,1</md-option>
								<md-option ng-value="0.05">0,05	</md-option>
								<md-option ng-value="0.01">0,01	</md-option>
								<md-option ng-value="0.001">0,001</md-option>
							</md-select>
						</md-input-container>
						<div layout="column" layout-align="start center">
							<label class="light-text">Тип графика распределения по СКО</label>
							<md-radio-group ng-model="gsCtrl.graphType">
								<md-radio-button value="chart-line">Линейный</md-radio-button>
								<md-radio-button value="chart-bar">Гистограмма</md-radio-button>
							</md-radio-group>
						</div>
						<md-input-container>
							<label>Коеффициент СКО (k)</label>
							<input min="0" max="3" type="number" ng-change="gsCtrl.getResults()" ng-model="gsCtrl.sigmaCoef">
						</md-input-container>
					</div>
				</div>
				<div flex layout="row"></div>
			</div>

			<md-table-container flex>
				<table md-table md-progress="gsCtrl.promise" flex>
					<thead md-head>
						<tr md-row>
							<th md-column>Характеристика</th>
							<th md-column>Кол-во результатов </th>
							<th md-column>min</th>
							<th md-column>max</th>
							<th md-column>&mu; <md-tooltip>Мат. ожидание</md-tooltip></th>
							<th md-column>&sigma; <md-tooltip>СКО</md-tooltip></th>
							<th md-column> x < &mu; - (&sigma; * k) <md-tooltip>доля студентов со значением характеристики x < &mu; - &sigma;</md-tooltip></th>
							<th md-column> x > &mu; + (&sigma; * k) <md-tooltip>доля студентов со значением характеристики x > &mu; + &sigma;</md-tooltip></th>
							<th md-column>X<sup>2</sup><sub>эмп</sub> <md-tooltip>Эмпирическое значение критерия Пирсона</md-tooltip></th>
							<th md-column>X<sup>2</sup><sub>стат</sub> <md-tooltip>Статистическое значение критерия Пирсона</md-tooltip></th>
							<th md-column>S = N - r - 1<md-tooltip>Число степеней свободы</md-tooltip></th>
							<th md-column>&alpha; <md-tooltip>Уровень значимости</md-tooltip></th>
							<th md-column>График распределения по СКО</th>
							<th md-column>График распределения</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row ng-repeat="result in gsCtrl.results" 
							ng-class="{expanded: result.showGraph || result.showGraphGauss}">
							<td md-cell>
								<span>{{result.propName}}</span>

								<gauss-sko-graph ng-if="result.showGraph" style="width: 80%;"
								             prop="result"
								             type="gsCtrl.graphType"
								             sigma-coef="gsCtrl.sigmaCoef" flex></gauss-sko-graph>

								<gauss-graph ng-if="result.showGraphGauss" style="width: 80%;"
								             prop="result"
								             type="gsCtrl.graphType"
								             sigma-coef="gsCtrl.sigmaCoef" flex></gauss-graph>
							</td>
							<td md-cell>{{result.valuesCount | Round}}</td>
							<td md-cell>{{result.minValue | Round }}</td>
							<td md-cell>{{result.maxValue | Round}}</td>
							<td md-cell>{{result.mu | Prc}}</td>
							<td md-cell>{{result.sigma | Prc }}</td>
							<td md-cell>{{result.lower | Prc : '%'}}</td>
							<td md-cell>{{result.upper | Prc : '%'}}</td>
							<td md-cell>{{result.pirson | Round: 3}}</td>
							<td md-cell>{{result.pirsonStat}}</td>
							<td md-cell>{{result.S}}</td>
							<td md-cell>{{gsCtrl.alpha}}</td>
							<td md-cell>
								<md-button ng-click="result.showGraph = !result.showGraph; result.showGraphGauss = false;"
								           class="md-raised md-primary">{{result.showGraph?'Скрыть':'Показать'}}</md-button>
							</td>
							<td md-cell>
								<md-button ng-click="result.showGraphGauss = !result.showGraphGauss; result.showGraph = false;"
								           class="md-raised md-primary">
									{{result.showGraphGauss?'Скрыть':'Показать'}}
								</md-button>
							</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>

<!-- 			<md-list>
				<md-list-item ng-repeat="result in gsCtrl.results" ng-if="result.showGraph">
					<h3>{{result.propName}}</h3>
					<gauss-graph style="width: 80%;" prop="result" flex></gauss-graph>
				</md-list-item>
			</md-list> -->

		</md-card-content>
	</md-card>

</section>