<md-card class="create_ticket_form">
    <ajax-loader promise="extTstCtrl.promise"></ajax-loader>
    <md-card-header layout="row" layout-align="center">
        <span>{{appName}}</span>
    </md-card-header>  
    <md-card-content layout="column" layout-align="start center">
        <form name="$$signUpForm">
            <p>Добавление внешнего теста</p>
        
            </div>
        </form>
    </md-card-content>
</md-card>