<section class="admin-wrapper">
	<ajax-loader promise="admOrgsCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column">
				<div flex layout="row">
					<h3>Организации</h3>
					<span flex></span>
				</div>
				<div flex layout="row" layout-align="start center">
					<add-button title="Добавить организацию" ng-click="admOrgsCtrl.addOrganisation()"></add-button>
					<span flex></span>
					<ng-csv-import content="admOrgsCtrl.csv.content"
						separator="admOrgsCtrl.csv.separator"
						result="admOrgsCtrl.csv.result"
						accept="admOrgsCtrl.csv.accept"
						upload-button-label="admOrgsCtrl.csv.uploadButtonLabel"></ng-csv-import>
					<md-button style="margin-right: 8px !important" class="md-primary md-raised" ng-disabled="!admOrgsCtrl.csv.result" ng-click="admOrgsCtrl.importCSV()">
						Импорт CSV
					</md-button>
					<edit-button is-active="admOrgsCtrl.editMode"></edit-button>
				</div>
			</div>
			{{csv}}
			<md-table-container>
				<table class="users-table" md-table md-progress="admOrgsCtrl.promise">
					<thead md-head>
					<tr md-row>
						<th md-column>Название</th>
						<th md-column>Тип</th>
						<!-- <th md-column>Тип представителей</th> -->
						<th md-column>Кол-во представителей</th>
						<th md-column ng-if="!admOrgsCtrl.editMode">Список представителей</th>
						<th md-column ng-if="admOrgsCtrl.editMode">Удалить</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row md-auto-select ng-repeat="organisation in admOrgsCtrl.organisations | orderBy: 'name' | orderBy: 'type'">
						<td md-cell>
							<md-input-container ng-if="admOrgsCtrl.editMode">
								<input type="text" ng-model="organisation.name" ng-blur="admOrgsCtrl.updateOrganisation(organisation)">
							</md-input-container>
							<span ng-if="!admOrgsCtrl.editMode">
								{{organisation.name}}
							</span>
						</td>
						<td md-cell>
                            <md-select ng-model="organisation.type" ng-change="admOrgsCtrl.updateOrganisation(organisation)" ng-if="admOrgsCtrl.editMode">
                                    <md-option ng-value="type.type" ng-repeat="type in admOrgsCtrl.organisationTypes">
                                        {{type.title}}
                                    </md-option>
                            </md-select>
                            <span ng-if="!admOrgsCtrl.editMode">
                                {{organisation.typeTitle}}
                            </span>
						</td>
						<td md-cell>
							<span>
								{{organisation.members.length}}
							</span>
						</td>
						<td md-cell  ng-if="!admOrgsCtrl.editMode">
							<md-button class="md-primary md-raised" ng-click="admOrgsCtrl.openMembers(organisation)">
								{{organisation.membersTitle}}
							</md-button>
						</td>
						<td md-cell class="with-button" ng-if="admOrgsCtrl.editMode">
							<remove-button is-disabled="organisation.members.length" ng-click="admOrgsCtrl.removeOrganisation(organisation)"></remove-button>
						</td>
					</tr>
					</tbody>
				</table>
		</md-table-container>

		</md-card-content>
	</md-card>

</section>