<md-button  
			ng-class="{
				'md-icon-button':!title,
				'md-primary': colorize,
				'md-raised': colorize,
				'md-icon-button':!title, 
				'md-active-mode': isActive  
			}"
			layout="row" 
			layout-align="center center"
			ng-disabled="isDisabled">
	<md-icon class="white-icon" md-svg-src="{{dwnldBtnCtrl.icons.download}}"></md-icon>
	<span ng-if="title">{{title}}</span>
</md-button>