@import "../../../../../styles/variables";

.abs_mask{
	//width: 1000px;
    position: absolute;
    background: #fff;
    height: 80%;
    top: 20%;
    z-index: 7;
    left: 0;
    border-top: 1px $GREY_L solid;
    border-bottom: 1px $GREY_L solid;
    overflow-y: auto;
    overflow-x: auto;
}