<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Добавление участников в группу</h2>
        <span flex></span>
        <remove-button colorize="false" ng-click="cancel()"></remove-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="position: relative;">
    <ajax-loader promise="promise"></ajax-loader>
      <div class="md-dialog-content">
        <ul ng-if="students.length" style="margin: 0">
          <li ng-repeat="student in students" layout="column">
          <div layout="row" layout-align="start center" ng-click="student.checked = !student.checked">
            <md-checkbox ng-model="student.checked" ng-click="$event.stopPropagation()" style="margin: 5px 0;"></md-checkbox>
            <span>{{student.name}}</span>
          </div>
          <md-divider></md-divider>
          </li>
        </ul>
        <p ng-if="!students.length">
          Нет свободных участников
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-warn md-raised" ng-click="cancel()">
       Отмена
      </md-button>
      <md-button class="md-accent md-raised" ng-click="answer('useful')">
        Применить
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>