<section class="admin-wrapper">
	<ajax-loader promise="grpVwCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column">
				<div flex layout="row">
					<h3>Список участников группы {{grpVwCtrl.group.name}}</h3>
					<span flex></span>
				</div>
				<div flex layout="row">
					<add-button ng-if="membersEdit" title="Добавить участников" ng-click="grpVwCtrl.showMembersManage($event)"></add-button>

					<edit-button style="margin-left: 5px"
								 title="Показать характеристики"
					 			 is-active="grpVwCtrl.showProps"
					 			 with-icon="false"></edit-button>
					<edit-button ng-if="grpVwCtrl.showProps"
								 style="margin-left: 5px"
								 title="Подробнее"
								 is-active="grpVwCtrl.showPropsInfo"
								 with-icon="false"></edit-button>
					<span flex></span>
					<edit-button is-active="grpVwCtrl.editMode"></edit-button>
				</div>
			</div>

			<md-table-container>
				<table class="users-table" md-table 
						md-progress="grpVwCtrl.promise" 
						ng-show="!grpVwCtrl.showProps">
					<thead md-head>
					<tr md-row>
						<th md-column>Имя</th>
						<th md-column>Пол</th>
						<th md-column>Курс</th>
						<th md-column>Возраст</th>
						<th md-column>Организация</th>
						<th md-column ng-if="grpVwCtrl.editMode && membersEdit">Удалить</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row md-auto-select ng-repeat="member in grpVwCtrl.group.members | orderBy: 'name'">
 						<td md-cell>
 							<md-input-container ng-if="grpVwCtrl.editMode && membersEdit">
								<input type="text" ng-model="member.name" ng-blur="grpVwCtrl.updateMember(member)">
							</md-input-container>
							<span ng-if="!grpVwCtrl.editMode || !membersEdit">
								{{member.name}}
							</span>
							<!-- <span>{{member.name}}</span> -->
						</td>
						<td md-cell>
							<!-- <span>{{member.genderTitle}}</span>	 -->
							<md-select ng-model="member.gender" ng-change="grpVwCtrl.updateMember(member)" ng-if="grpVwCtrl.editMode && membersEdit">
								<md-option ng-value="gender.type" ng-repeat="gender in grpVwCtrl.genderTypes">{{gender.title}}</md-option>	
							</md-select>
							<span ng-if="!grpVwCtrl.editMode || !membersEdit">
								{{member.genderTitle}}
							</span>
						</td>
						<td md-cell>
								<md-select ng-model="member.course" ng-change="grpVwCtrl.updateMember(member)" ng-if="grpVwCtrl.editMode && membersEdit">
								<md-option ng-value="course" ng-repeat="course in grpVwCtrl.courses">	{{course}}
								</md-option>	
							</md-select>
							<span ng-if="!grpVwCtrl.editMode || !membersEdit">
								{{member.course}}
							</span>	
							<!-- <span>{{member.course}}</span>	 -->
						</td>
						<td md-cell>
							<span>{{member.age}}</span>
						</td>
						<td md-cell>							
							<md-select ng-model="member.organisation" ng-change="grpVwCtrl.updateMember(member)" 
							ng-if="grpVwCtrl.editMode && membersEdit">
								<md-option ng-value="organisation.id" ng-repeat="organisation in grpVwCtrl.organisations">{{organisation.name}}</md-option>	
							</md-select>
							<span ng-if="!grpVwCtrl.editMode || !membersEdit">
								{{member.organisationData.name}}
							</span>	
							<!-- <span>{{member.organisationData.name}}</span> -->	
						</td>
						<td md-cell class="with-button" ng-if="grpVwCtrl.editMode && membersEdit">
							<remove-button ng-click="grpVwCtrl.removeMember(member)"></remove-button>
						</td>
					</tr>
					</tbody>
				</table>
				
				<form name="propsForm">
				<table class="users-table" md-table 
						md-progress="grpVwCtrl.promise" 
						ng-if="grpVwCtrl.showProps">
					<thead md-head>
						<tr md-row>
							<th md-column>Имя</th>
							<th md-column ng-repeat="prop in grpVwCtrl.properties | orderBy: 'id'">
								<div layout="column" layout-align="center center">
									<span>{{prop.name}}</span>
									<div layout="column" layout-align="start start">
										<small ng-show="grpVwCtrl.showPropsInfo">Мин: {{prop.min}} Макс:  {{prop.max}}</small>
										<small ng-show="grpVwCtrl.showPropsInfo">{{prop.description}}</small>
									</div>
								</div>
							</th>
							<th md-column ng-if="grpVwCtrl.editMode">Обновить данные</th>
							<th md-column>История изменений</th>
							<th md-column>Динамика</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select 
							ng-repeat="member in grpVwCtrl.group.members | orderBy: 'name' | orderBy: 'type'"
							ng-class="{expanded: member.showDynamic || member.showHistory}">
							<td md-cell>
								<span>{{member.name}}</span>
								<props-dynamics ng-if="member.showDynamic" props-data="member.properties"></props-dynamics>
								<props-history ng-if="member.showHistory" member-data="member" props-data="member.properties"></props-history>
							</td>
							<td md-cell ng-repeat="prop in member.properties | orderBy: '_id'">
								<md-input-container md-no-float ng-show="grpVwCtrl.editMode">
									<input 
									ng-if="prop.propData.type === 'number'"
									type="number" 
									min="{{prop.propData.min}}"
									max="{{prop.propData.max}}"
									placeholder="Новое значение" 
									ng-model="prop.newVal">

									<textarea 
									ng-if="prop.propData.type === 'text'"
									minlength="{{prop.propData.min}}"
									maxlength="{{prop.propData.max}}"
									placeholder="Новое значение"
									rows="2">
									</textarea>	
								</md-input-container>
								<div>
									<span ng-if="!grpVwCtrl.editMode || true">
									{{prop.actuallVal.value | Round}}
									</span>
<!--									<span class="light-text">
										/{{prop.propData.max}}
									</span>-->
								</div>
							</td>
							<td md-cell ng-if="grpVwCtrl.editMode">
								<md-button class="md-accent md-raised"
											ng-disabled="!grpVwCtrl.isUpdated(member) || propsForm.$invalid"
											ng-click="grpVwCtrl.updatePropsVals(member)">
									Обновить
								</md-button>
							</td>
							<td md-cell>
<!-- 								<md-button class="md-warn md-raised"
											ng-click="grpVwCtrl.updatePropsVals(member)">
									Удалить
								</md-button> -->
								<a class="md-primary md-raised" ng-click="member.showHistory = !member.showHistory; member.showDynamic = false;">
								{{member.showHistory?'Скрыть':'Показать'}}
								</a>
							</td>
							<td md-cell>
								<a class="md-primary md-raised"
								ng-click="member.showDynamic = !member.showDynamic; member.showHistory = false;">
								{{member.showDynamic?'Скрыть':'Показать'}}
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				</form>
		</md-table-container>

		</md-card-content>
	</md-card>

</section>