<section class="admin-wrapper">
	<ajax-loader promise="pshsCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column">
				<div flex layout="row">
					<h3>Список психологов</h3>
					<span flex></span>
				</div>
				<div flex layout="row">
					<add-button title="Добавить психолога" ng-click="pshsCtrl.addMember()"></add-button>
					<span flex></span>
					<edit-button is-active="pshsCtrl.editMode"></edit-button>
				</div>
			</div>

			<md-table-container>
				<table class="users-table" md-table md-progress="pshsCtrl.promise">
					<thead md-head>
					<tr md-row>
						<th md-column>Имя</th>
						<th md-column>Группа</th>
						<th md-column>Организация</th>
						<!-- <th md-column ng-if="!pshsCtrl.editMode">Список представителей</th> -->
						<th md-column ng-if="pshsCtrl.editMode">Удалить</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row md-auto-select ng-repeat="member in pshsCtrl.members | orderBy: 'name' | orderBy: 'type'">
 						<td md-cell>
							<md-input-container ng-if="pshsCtrl.editMode">
								<input type="text" ng-model="member.name" ng-blur="pshsCtrl.updateMember(member)">
							</md-input-container>
							<span ng-if="!pshsCtrl.editMode">
								{{member.name}}
							</span>
						</td>
						<td md-cell>
							<md-select ng-model="member.group" ng-change="pshsCtrl.updateMember(member)" ng-if="pshsCtrl.editMode">
								<md-option ng-value="null">Не назначено</md-option>
								<md-option 
								ng-value="group.id" 
								ng-repeat="group in pshsCtrl.groups"
								ng-if="pshsCtrl.$$groupIsFree(group, member)">	
								{{group.name}}
								</md-option>	
							</md-select>
							<span ng-if="!pshsCtrl.editMode">
								{{member.groupData.name}}
							</span>
						</td>
						<td md-cell>
							<md-select ng-model="member.organisation" ng-change="pshsCtrl.updateMember(member)" ng-if="pshsCtrl.editMode">
								<md-option 
									ng-value="organisation.id" 
									ng-repeat="organisation in pshsCtrl.organisations">
								{{organisation.name}}
								</md-option>	
							</md-select>
							<span ng-if="!pshsCtrl.editMode">
								{{member.organisationData.name}}
							</span>	
						</td>
						<td md-cell class="with-button" ng-if="pshsCtrl.editMode">
							<remove-button ng-click="pshsCtrl.removeMember(member)"></remove-button>
						</td>
					</tr>
					</tbody>
				</table>
		</md-table-container>

		</md-card-content>
	</md-card>

</section>