<md-card class="auth_form">
    <md-card-header layout="row" layout-align="center">
        <span>{{appName}}</span>
    </md-card-header> 
    <md-card-content layout="column" layout-align="start center">
        <p>Вход в систему</p>
        <form name="signInForm" layout="column" layout-align="start center" flex>
            <md-input-container>
                <label>Логин</label>
                <input required type="text" 
                ng-model="snInCtrl.formData.login">
            </md-input-container>

            <md-input-container>
                <label>Пароль</label>
                <input required type="password"
                 ng-model="snInCtrl.formData.password">
            </md-input-container>

            <md-button class="md-raised md-primary" flex style="width: 100%"
                    ng-click="signInForm.$valid?snInCtrl.signIn():null">Войти в систему
            </md-button>

            <div layout="row" layout-align="end center" flex style="width: 100%">
      <!--          <a ui-sref="auth.extTest" ui-sref-active="active">
                  Добавить тест
                </a>-->
                <span flex></span>
                <a ui-sref="auth.signUp" ui-sref-active="active">
                   <!--  <md-button class="md-bordered md-primary"> -->Регистрация<!-- </md-button> -->
                </a>
            </div>
        </form>

        <div>
            <small><b>Home DB:</b></small>
            <small>admin / dzhHOXlOwn5u</small>
            <small>EfYQ49Q3RcZ1 / ZCENNZ</small>
        </div>
        <div>
            <small><b>Altarix DB:</b></small>
            <small>admin / Y1EmtpdvlUhT</small>
            <small>ClZiq3IAv_Fj / klKKbi</small>
        </div>
    </md-card-content>
</md-card>