<md-button
			ng-class="{
				'md-icon-button':!title,
				'md-warn': colorize,
				'md-raised': colorize  
			}"
			layout="row" 
			layout-align="center center"
			ng-disabled="isDisabled">
	<md-icon class="white-icon" md-svg-src="{{rmBtnCtrl.icons.remove}}"></md-icon>
	<span ng-if="title">{{title}}</span>
</md-button>