@import "../../../styles/variables.scss";

app-workspace{
	display: block;
    height: calc(100vh - #{$HEADER_HEIGHT*1.6});
}
.app-workspace-wrapper{
  position: relative;
  padding: 0 $SIDE_PADDING;
  overflow-y: auto;
}