<section class="admin-wrapper">
	<ajax-loader promise="grpsCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column">
				<div flex layout="row">
					<h3>Список психологических групп</h3>
					<span flex></span>
				</div>
				<div flex layout="row">
					<add-button title="Добавить группу" ng-click="grpsCtrl.addGroup()"></add-button>
					<edit-button 
						style="margin-left: 8px;" 
						with-icon="false" 
						title="Сатистика по тестам" 
						is-active="grpsCtrl.testStaticticMode"></edit-button>
					<span flex></span>

					<div style="margin-right: 8px" ng-csv="grpsCtrl.downloadReport()" filename="Группы.csv">
					<download-button></download-button>
					</div>
					<edit-button is-active="grpsCtrl.editMode"></edit-button>
				</div>
			</div>

			<md-table-container>
				<table class="users-table" md-table md-progress="grpsCtrl.promise">
					<thead md-head>
					<tr md-row>
						<th md-column>Название</th>
						<th md-column>Руководитель</th>
						<!-- <th md-column>Тип представителей</th> -->
						<th md-column>Кол-во участников</th>

						<th md-column ng-if="grpsCtrl.testStaticticMode" 
							ng-repeat="test in grpsCtrl.tests">
							{{test.name}}
						</th>

						<th md-column ng-if="!grpsCtrl.editMode">Список участников</th>

						<th md-column ng-if="grpsCtrl.editMode">Удалить</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row md-auto-select ng-repeat="group in grpsCtrl.groups | orderBy: 'name' | orderBy: 'type'">
						<td md-cell>
							<md-input-container ng-if="grpsCtrl.editMode">
								<input type="text" ng-model="group.name" ng-blur="grpsCtrl.updateGroup(group)">
							</md-input-container>
							<span ng-if="!grpsCtrl.editMode">
								{{group.name}}
							</span>
						</td>
						<td md-cell>
							<md-input-container class="select-cell" ng-if="grpsCtrl.editMode">
								<md-select ng-model="group.mentorId" ng-change="grpsCtrl.changeMentor(group)">
									<md-option ng-value="null">Не назначено</md-option>
									<md-option ng-value="psycholog.id" ng-repeat="psycholog in grpsCtrl.psychologs" ng-if="grpsCtrl.$$psychologIsFree(psycholog, group)">
										{{psycholog.name}}
									</md-option>	
								</md-select>
							</md-input-container>
							<span ng-if="!grpsCtrl.editMode">
								{{group.mentorData.name}}
							</span>	
						</td>
						<td md-cell>
							<span>
								{{group.members.length}}
							</span>
						</td>
						<td md-cell ng-if="grpsCtrl.testStaticticMode" ng-repeat="test in grpsCtrl.tests">
							{{test.passings.getPoints( group.id, true).length}}
						</td>						
						<td md-cell  ng-if="!grpsCtrl.editMode">
							<!-- 							<md-button class="md-primary md-raised" ng-click="grpsCtrl.openMembers(group)">
								{{group.membersTitle}}
							</md-button> -->
							<a ng-click="grpsCtrl.openMembers(group)">Перейти к списку</a>
						</td>

						<td md-cell class="with-button" ng-if="grpsCtrl.editMode">
							<remove-button is-disabled="group.members.length" ng-click="grpsCtrl.removeGroup(group)"></remove-button>
						</td>
					</tr>
					</tbody>
				</table>
		</md-table-container>

		</md-card-content>
	</md-card>

</section>