@import "../../../styles/variables.scss";

.user-info-wrapper{
  height: $HEADER_HEIGHT;
  //background: $MAIN_COLOR - 10;
  color: #fff;
  padding-left: 8px;
  .user-name{
    font-weight: normal;
  }
  .user-role{
    font-size: .8em;
    opacity: .7;
  }
  .avatar{
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .logout{
    min-width: 20px !important;
    width: 20px;
  }
  md-divider{
    height: 70%;
  }
}