<section class="user-info-wrapper" layout="row" layout-align="end center">
	<md-divider></md-divider>
	<md-icon class="white-icon avatar" md-svg-src="{{ ::usrInfCtrl.icons.avatar }}"></md-icon>
	<div layout="column" layout-align="center start">
		<span class="user-name">{{usrInfCtrl.currentUser.name}}</span>
		<span class="user-role">{{usrInfCtrl.currentUser.roleTitle}}</span>
	</div>
	<md-button class="md-icon-button" ng-click="usrInfCtrl.logout()">
		<md-tooltip md-direction="bottom">Выйти</md-tooltip>
		<md-icon class="white-icon logout" md-svg-src="{{ ::usrInfCtrl.icons.exit }}"></md-icon>
	</md-button>
</section>