<md-button  
		   ng-class="{
				'md-icon-button':!title,
				'md-primary': colorize,
				'md-raised': colorize,
				'md-icon-button':!title, 
				'md-active-mode': isActive  
			}"
		   layout="row" layout-align="center center"
		   ng-click="isActive = !isActive"
		   ng-disabled="isDisabled">
	<md-icon ng-if="withIcon" class="white-icon" md-svg-src="{{edtBtnCtrl.icons.edit}}"></md-icon>
	<span ng-if="title">{{title}}</span>
</md-button>