<div class="abs_mask">
<!-- 	<div layout="column">
		<div ng-repeat="prop in propsData">
			
		</div>
	</div> -->
	<md-table-container>
				<table class="props-history-table" md-table 
						md-progress="prpsHstCtrl.promise">
					<thead md-head>
						<tr md-row>
							<th md-column>Характеристика</th>
							<th md-column ng-repeat="pointCount in prpsHstCtrl.pointsCounts track by $index">
								{{pointCount}}
							</th>
						</tr>
					</thead>
					<tbody md-body>
						<tr md-row md-auto-select 
							ng-repeat="(propIndex, prop) in propsData">
							<td md-cell
								cell-edit
								cell-options="prpsHstCtrl.propOptions" 
								cell-data="{prop, propIndex}">
								{{prop.propData.name}}
							</td>
							<td md-cell 
							ng-repeat="(pointIndex, point) in prop.data" 
							cell-edit
							cell-options="prpsHstCtrl.cellOptions" 
							cell-data="{point, propIndex, pointIndex}">
								<div layout="column">
									<span class="light-text date">{{point.date}}</span>
									<div layout="row" 
										layout-align="center center" 
										style="margin-top: 5px">
										<dynamic-label ng-if="$index !== 0"
										value="point.value - prop.data[$index-1].value"></dynamic-label>
										<span>{{point.value | Round}}</span>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
		</md-table-container>

</div>