@import "../../../../../styles/variables";

.props-history-table{
    border-collapse: collapse;
    .md-column{
        background-color: $MAIN_COLOR + 50 !important;
    }
    .md-cell{
        height: 40px;
        border: solid 1px $GREY_L;
        &:first-child{
            width: 60px;
        }
        &:not(:first-child){
            text-align: center !important;
        }
        padding-top: 0 !important;
        vertical-align: middle !important;

        .date{
            font-size: 11px;
        }
    }
}