<md-card class="create_ticket_form">
    <ajax-loader promise="snUpCtrl.promise"></ajax-loader>
    <md-card-header layout="row" layout-align="center">
        <span>{{appName}}</span>
    </md-card-header>  
    <md-card-content layout="column" layout-align="start center">
        <form name="$$signUpForm">
            <p>Заполните форму для регистрации в системе</p>
<!--             <create-ticket-form is-external="true" create-ticket-data="snUpCtrl.formData"></create-ticket-form> -->           

            <md-input-container class="md-block"><label>Имя</label><input required ng-model="snUpCtrl.formData.name"></md-input-container>

            <md-input-container class="md-block">
                <label>Логин</label>
                <input required ng-model="snUpCtrl.formData.login">
            </md-input-container>

            <md-input-container  class="md-block">
                <label>Пароль</label>
                <input required type="password"
                       ng-model="snUpCtrl.formData.password">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Роль</label>
                <md-select required ng-model="snUpCtrl.formData.role">
                    <md-option ng-value="'student'">Студент</md-option>
                    <!--<md-option ng-value="'psycholog'">Психолог</md-option>-->
                </md-select>
            </md-input-container>

            <div ng-if="snUpCtrl.formData.role === 'student' " layout="row">
                <md-input-container class="md-block" flex="30">
                    <label>Пол</label>
                    <md-select required ng-model="snUpCtrl.formData.gender">
                        <md-option ng-value="'male'">Муж</md-option>
                        <md-option ng-value="'female'">Жен</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex="40">
                    <label>Дата рождения</label>
                    <md-datepicker required ng-model="snUpCtrl.formData.birthsday" md-placeholder="Выбрать дату"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex="30">
                    <label>Курс</label>
                    <md-select required ng-model="snUpCtrl.formData.course">
                        <md-option ng-value="course" ng-repeat="course in [1,2,3,4,'м 1', 'м 2']">{{course}}</md-option>
                    </md-select>
                </md-input-container>
            </div> 

            <md-input-container class="md-block">
                <label>Организация</label>
                <md-select ng-model="snUpCtrl.formData.organisation">
                    <md-option ng-repeat="org in snUpCtrl.organisations " ng-value="org.id">
                        {{org.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Email</label>
                <input required type="email" ng-model="snUpCtrl.formData.email">
            </md-input-container>

            <div layout="row" layout-align="end">
                <a ui-sref="auth.signIn" ui-sref-active="active">
                    <md-button class="md-primary">Отмена</md-button>
                </a>
                <md-button class="md-raised md-primary" ng-click="$$signUpForm.$valid?snUpCtrl.signUp():null" type="submit">Зарегистрироваться</md-button>
            </div>
        </form>
    </md-card-content>
</md-card>