<section layout-fill class="main_app_layout" layout="column" layout-align="center center">
    <!-- <p class="app_title">{{appName}}</p> -->
    <ui-view>
    	<view-loader></view-loader>	
    </ui-view>
</section>