$BUTTON_SIZE: 15px;

.cell-toolbar{
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 11px;
	opacity: 0;
	//display: none;
	transition: opacity .3s;

	md-icon{
		cursor: pointer;
	    height: $BUTTON_SIZE;
	    width: $BUTTON_SIZE;
	    min-width: $BUTTON_SIZE;
	    min-height: $BUTTON_SIZE;
	}
}

.cell-edit-input{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .9;
	top: 0;
	left: 0;
	input{
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		border: none;
		font-size: 15px;
		padding-left: 10px;
		border-bottom: 1px solid #eee;
	}

}

.md-cell:hover{
	>.cell-toolbar{
		//display: inherit;
		opacity: 1;
	}
}