@import "../../../styles/variables.scss";

app-nav-bar{ width: 100%;}
.app-nav-bar-wrapper{
  padding-left: $SIDE_PADDING + $TOGGLE_MENU_OFFSET;
  background: $MAIN_COLOR + 145;
  color: rgba(0,0,0,0.6);
  height: $HEADER_HEIGHT / 1.5;
  //box-shadow: $BOX_SHADOW;
}