@import "../../styles/variables";

.md-cell{
  position: relative;
  .md-button{
        font-size: 11px !important;
  }
}
.admin-wrapper{
  .users-table{
    th,td{
      text-align: left !important;
      padding-left: 4px !important;
        md-input-container{
          margin-top: 0 !important;
        }
    }
    .select-cell{
		margin-top: 0 !important;
    }
  }
  .md-button{
    margin: 6px 0px !important;
  }
}

/*Override*/
table.md-table thead.md-head>tr.md-row{
  height: 30px !important;
}

.md-table{
  .with-button{
    padding: 0 !important;
    text-align: center !important;
  }
}

.table.md-table td.md-cell,
table.md-table th.md-column{
  padding: 0 4px;
  text-align: center !important;
  color: #fff;
  background: $MAIN_COLOR + 20;
}

.md-cell, .md-column{
  md-input-container{
    width: 90% !important;
  }
  &:not(:last-child){
    border-right: 1px $GREY_L solid;
  }
  text-align: center !important;
}
  a{
    text-decoration: underline !important;
    cursor: pointer !important;
  }

.text-cell{
  text-align: left !important;
  min-width: 250px;
}

.md-column{
  font-weight: normal !important;
  background-color:  #dddddd;
  border-right: 1px solid  rgba(0,0,0,.12) !important;
}

.md-row{
  transition: background-color .1s ease;
  &:hover >td{
    background-color: rgba(94, 90, 255, 0.06) !important;
  }
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2){
  padding: 0 4px;
}

table.md-table td.md-cell:last-child,
 table.md-table th.md-column:last-child{
   padding: 0 4px ;
}