<div class="create-ticket-form">
    <ajax-loader promise="edtTrslCtrl.promise"></ajax-loader>
    <div layout="row" layout-align="start center">
        <div layout="column" layout-align="start start">
            <h3>{{test.name}}</h3>
            <span class="light-text">{{test.description}}</span>
        </div>
        <span flex></span>
        <md-input-container flex="20">
            <label>Вычисление значения характеристики</label>
            <md-select ng-model="test.translationType">
                <md-option ng-value="'fixed'">Указанное фиксированное</md-option>
                <md-option ng-value="'calculate'">Вычислять по сумме баллов</md-option>
            </md-select>
        </md-input-container>
    </div>

    <form name="testForm">
    <md-card-content layout="column" layout-align="start center">
       
            <div class="test-question-edit" layout="column" ng-if="test.translation.length" ng-repeat="range in test.translation track by $index">
                <div layout="row" layout-align="start top">
                    <div class="question-index">{{$index+1}}.</div>
                    <div class="question-content translation-edit" layout="column">
                        <div layout="row" layout-align="start center" class="range-limits" flex="none">
                            <input flex="none" placeholder="От" type="number"
                            min="{{edtTrslCtrl.getMinLimit(range, $index)}}"
                            max="{{$index===0?0:edtTrslCtrl.getMinLimit(range, $index) || range.range[1]}}" 

                            ng-model="range.range[0]">
                            <input flex="none" placeholder="До"

                            min="{{range.range[0]}}"
                            max="{{edtTrslCtrl.getMaxLimit(range, $index)}}"

                            type="number" ng-model="range.range[1]">
                            <span>Результирующее значение определяемой характеристики: </span>
                            <input flex="none" placeholder="Значение"
                                       min="{{test.propertyData.min}}"
                                       max="{{test.propertyData.max}}"
                                       type="number" ng-model="range.propValue">

                            <span flex></span>
                        </div>
                        <md-input-container md-no-float flex>
                             <textarea ng-model="range.message" rows="3" maxlength="500" placeholder="Текст сообщения">
                            </textarea>                           
                        </md-input-container>

                    </div>
                    <md-icon flex="none" class="warn-icon" md-svg-src="{{edtTrslCtrl.icons.remove}}" ng-click="edtTrslCtrl.removeRange($index)">
                        <md-tooltip>Удалить диапазон</md-tooltip>
                    </md-icon>
                </div>
            </div>
            <div ng-if="!test.translation.length">На данный момент отсутствуют диапазоны результатов теста</div>
        <add-button 
            ng-if="!test.translation.length || test.translation[test.translation.length-1].range[1] < edtTrslCtrl.maxValue"
            ng-click="edtTrslCtrl.addRange()" 
            title="Добавить диапазон"></add-button>
    </md-card-content>
    <md-card-footer layout="row" layout-align="end center">
        <span flex></span>
        <md-button class="md-raised md-primary" ng-click="callback()">Отмена</md-button>
        <md-button style="margin-left: 8px !important;" class="md-accent md-raised" ng-click="testForm.$valid?edtTrslCtrl.saveTest():null" type="submit">Сохранить</md-button>
    </md-card-footer>
    </form>
</div>