@import "../../../styles/variables";

.question-content.translation-edit{
	input{
		border-type: solid !important;
	}
	md-input-container{
		margin: 0 !important;
		padding: 0 !important;
	}
	textarea{
		//margin-left: 8px;
		margin-top: 8px !important;
	  	box-sizing: border-box;
      	padding: .5em;
      	border-width: 1px !important;
	}
	span{
		padding-left: 8px;
		font-size: 13px;
		width: 200px;
	}
}

.range-limits{
	input{
		margin-top: 0 !important;
		width: 80px;
		&:not(:first-child){
			margin-left: 8px;
		}
	}
}