@import "../../../styles/variables.scss";

  .ticket-in_progress{
    color: $GREEN !important;
  }

  .ticket-new{
    color: $YELLOW !important;
  }

  .ticket-solved{
    color: $BLUE !important;
  }