<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Отчет по прохождениям теста {{test.title}}</h2>
                <span flex></span>
            </div>
        </md-toolbar>

        <md-dialog-content style="position: relative; width: 60vw; min-width: 400px">
            <ajax-loader promise="promise"></ajax-loader>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column>#</th>
                            <th md-column>Имя</th>
                            <th md-column>Группа</th>
                            <th md-column>Дата</th>
                            <th md-column>Результат</th>
                            <th md-column>Ответы</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-auto-select ng-repeat="passing in test.passings">
                            <td md-cell>
                                {{$index+1}}
                            </td>
                            <td md-cell>
                                {{passing.memberData.name}}
                            </td>
                            <td md-cell>
                                {{passing.memberData.groupData.name}}
                            </td>
                            <td md-cell>
                                {{passing.date}}
                            </td>
                            <td md-cell>
                                {{passing.result}}
                            </td>
                            <td md-cell>
                                <a class="md-primary md-raised"
                                   ng-click="">Показать</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <!--            <div ng-repeat="passing in test.passings">

                        </div>-->
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-accent md-raised" ng-click="answer('useful')">
                Ок
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>