<section class="admin-wrapper">
	<ajax-loader promise="tstsCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column" ng-if="tstsCtrl.viewMode === 'list'">
				<div flex layout="row">
					<h3>Психологические тесты</h3>
					<span flex></span>
				</div>
				<div flex layout="row" ng-if="tstsCtrl.isCRUD">
					<add-button  title="Добавить тест" ng-click="tstsCtrl.viewMode = 'createTest'"></add-button>
					<span flex></span>
					<edit-button is-active="tstsCtrl.editMode"></edit-button>
				</div>
			</div>
			
			<edit-questions-form 
				ng-if="tstsCtrl.viewMode === 'editQuestions'" 
				test="tstsCtrl.editingTest" 
				callback="tstsCtrl.toogleCreateMode">
			</edit-questions-form>

			<edit-translation-form 
				ng-if="tstsCtrl.viewMode === 'editTranslation'" 
				test="tstsCtrl.editingTest" 
				callback="tstsCtrl.toogleCreateMode">
			</edit-translation-form>

			<create-test-form 
				ng-if="tstsCtrl.viewMode === 'createTest'"
				callback="tstsCtrl.toogleCreateMode">
				</create-test-form>
			<md-table-container ng-show="tstsCtrl.viewMode === 'list'">
				<table ng-if="tstsCtrl.tests.length" class="users-table" md-table md-progress="tstsCtrl.promise">
					<thead md-head>
					<tr md-row>
						<th md-column>Название</th>
						<th md-column>Тип</th>
						<th md-column>Описание</th>
						<th md-column>Кол-во вопросов</th>
						<th md-column>Определяемая характеристика</th>
						<th md-column>Добавил</th>
						<th md-column ng-if="tstsCtrl.isStudent">Пройти</th>
						<th md-column ng-if="tstsCtrl.editMode">Список вопросов</th>
						<th md-column ng-if="tstsCtrl.editMode">Расшифровка результатов</th>
						<th md-column ng-if="tstsCtrl.isCRUD">Журнал прохождений</th>
						<th md-column ng-if="tstsCtrl.editMode">Удалить тест</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row md-auto-select ng-repeat="test in tstsCtrl.tests | orderBy: 'name' | orderBy: 'type'">
						<td md-cell>
							<md-input-container ng-if="tstsCtrl.editMode">
								<input type="text" ng-model="test.name" ng-blur="tstsCtrl.updateTest(test)">
							</md-input-container>
							<span ng-if="!tstsCtrl.editMode">
								{{test.name}}
							</span>
						</td>
						<td md-cell>	
							<div layout="column">
								<span>
									{{test.typeTitle}}
								</span>
								<small 
								ng-if="!tstsCtrl.editMode && test.type === 'external'" 
								class="light-text">
									{{test.adress}}
								</small>
								<md-input-container ng-if="tstsCtrl.editMode && test.type === 'external'">
									<input type="text" ng-model="test.adress" ng-blur="tstsCtrl.updateTest(test)">
								</md-input-container>
							</div>
						</td>
						<td md-cell>
							<md-input-container ng-if="tstsCtrl.editMode">
								<input type="text" ng-model="test.description" ng-blur="tstsCtrl.updateTest(test)">
							</md-input-container>
							<span ng-if="!tstsCtrl.editMode">
								{{test.description}}
							</span>
						</td>
						<td md-cell>
							<span>
								{{test.questions.length}}
							</span>
						</td>
						<td md-cell>
							<md-select
									ng-if="tstsCtrl.editMode && !test.passings.length"
									ng-model="test.propId" 
									ng-change="tstsCtrl.updateTest(test)">
			                        <md-option ng-value="prop.id" ng-repeat="prop in tstsCtrl.properties"> 
			                        	<span>{{prop.name}}</span>
			                        	<!-- <span class="light-text">{{prop.description}}</span> -->
			                        </md-option>    
			                </md-select>
			                <span ng-if="!tstsCtrl.editMode || test.passings.length">
								{{test.propertyData.name}}
							</span>
						</td>
						<td md-cell>
							<div layout="column">
								<span>
									{{test.authorData.name}}
								</span>
								<small class="light-text">{{test.authorData.roleTitle}}</small>
							</div>
						</td>
						<td md-cell ng-if="tstsCtrl.isStudent">
							<md-button 
							ng-disabled="(test.type !== 'external') && (!test.questions.length && !test.translation.length)" class="md-accent md-raised" ng-click="tstsCtrl.getTesting(test)">
								{{test.type === 'external'?'Перейти на ресурс':'Пройти'}}
							</md-button>
						</td>
						<td md-cell ng-if="tstsCtrl.editMode">
							<md-button ng-disabled="test.type === 'external'" class="md-raised md-primary" ng-click="tstsCtrl.editQuestions(test)">
								Редактировать
							</md-button>
						</td>
						<td md-cell ng-if="tstsCtrl.editMode">
							<md-button ng-disabled="!test.questions.length" class="md-raised md-primary" ng-click="tstsCtrl.editTranslation(test)">
								Редактировать
							</md-button>
						</td>
						<td md-cell ng-if="tstsCtrl.isCRUD">
							<div layout="column" layout-align="start start">
								<span>Всего: {{test.passings.length}}</span>
								<span>Уникальных: {{test.passings.getPoints(null,true).length}}</span>
								<a ng-if="test.passings.length"
								   class="md-primary md-raised"
								   ng-click="tstsCtrl.openPassings($event,test)">Показать</a>
							</div>
						</td>
						<td md-cell class="with-button" ng-if="tstsCtrl.editMode">
							<remove-button is-disabled="false" ng-click="tstsCtrl.removeTest(test)"></remove-button>
						</td>
					</tr>
					</tbody>
				</table>
				<p ng-if="!tstsCtrl.tests.length">На данный момент не создано ни одного теста</p>
		</md-table-container>

		</md-card-content>
	</md-card>

</section>