<div layout="column" layout-align="center center" class="dynamic-label-{{dnmLbCtrl.direction}}">
	<md-icon 
	ng-class="{
		'accent-icon': dnmLbCtrl.direction === 'up',
		'orange-icon': dnmLbCtrl.direction === 'down'
	}"
	 md-svg-src="{{dnmLbCtrl.icons[dnmLbCtrl.direction]}}"></md-icon>	
	<span>({{value}})</span>
</div>