@import "../../../../../../styles/variables";

.dynamic-label-up, .dynamic-label-down{
	position: relative;
	margin-right: 4px;
	md-icon{
		position: absolute;
		top: -15px;
	}
}


.dynamic-label-down{
	color: $ORANGE;
}
.dynamic-label-up{
	color: $ACCENT_COLOR;
}