<div class="app-menu-wrapper" 
	layout="row" 
	layout-align="start center" 
	ng-mouseleave="appMnCtrl.showMenu = true; appMnCtrl.squashItems()" 
	ng-mouseenter="appMnCtrl.expandActiveItem()">
<!-- 	<md-button class="md-icon-button" ng-click="appMnCtrl.showMenu = !appMnCtrl.showMenu">
		<md-icon class="white-icon" md-svg-src="{{ ::appMnCtrl.icons.menu }}"></md-icon>
	</md-button> -->
	<div class="toggle-app-menu" ng-class="{hidden: !appMnCtrl.showMenu}">
		<md-list>
			<md-list-item ng-click="appMnCtrl.goTo(item)" ng-repeat="item in appMnCtrl.menuItems" layout="row" layout-align="end" 
			ng-class="{ 
				active: appMnCtrl.isActive(item),
				nested: item.nested,
				expanded: item.isExpanded
			}">
			<!-- sas -->
				<div ng-if="!item.nested" layout="row" flex>
					<div class="md-list-item-text" layout="column">{{item.title}}</div>
					<span flex></span>
					<md-icon class="white-icon" md-svg-src={{item.image}}></md-icon>
				</div>
			<!-- sas -->
				<v-accordion ng-if="item.nested" class="vAccordion--default">
				  <v-pane expanded="item.isExpanded" is-expanded="{{item.isExpanded}}">
				    <v-pane-header layout="row">
						<span>{{item.title}}</span>
						<span flex></span>
						<md-icon class="white-icon" md-svg-src={{item.image}}></md-icon>			
				    </v-pane-header>
				    <v-pane-content>
					    <md-list>
						    <md-list-item ng-click="appMnCtrl.goTo(route)" ng-repeat="route in item.subrouts" layout="row" layout-align="end" ng-class="{ active: appMnCtrl.isActive(route)}">
								<div class="md-list-item-text" layout="column">{{route.title}}</div>
								<span flex></span>
								<md-icon class="white-icon" md-svg-src={{route.image}}></md-icon>
								<md-divider ng-if="!$last"></md-divider>
							</md-list-item>
						</md-list>
				    </v-pane-content>
				  </v-pane>
				</v-accordion>
				<md-divider></md-divider>
			<!-- sas -->
			</md-list-item>
		</md-list>
	</div>
</div>