@import "../../../styles/variables.scss";

.app-menu-wrapper{
  background: $MAIN_COLOR;
  color: #fff;
  height: $HEADER_HEIGHT;
  .toggle-app-menu{
    font-size: .8em;
    position: absolute;
    width: $TOGGLE_MENU_WIDTH;
    left: -$TOGGLE_MENU_WIDTH + $TOGGLE_MENU_OFFSET;
    transition: left .2s ease, box-shadow .5s ease;
    top: $HEADER_HEIGHT;
    height: 100%;
    z-index: 9;
    background: $MAIN_COLOR;
    box-shadow: none;
    
    &:hover:not(.hidden){
      left: 0;
      box-shadow: $BOX_SHADOW_N_TOP;
    }
/*     &.hidden{
      left: -$TOGGLE_MENU_WIDTH + $TOGGLE_MENU_OFFSET !important;
    } */
    
/*     md-list-item{
      background-color: $MAIN_COLOR;
      transition: background-color .3s ease;
    } */
    md-list-item{
      md-divider{
/*         height: 1px !important;
        background: rgba(0,0,0,0.2) !important; */
      }
      &.active{
        background-color: $MAIN_COLOR - 20;
        position: relative;
        &:after{
          position: absolute;
          height: 100%;
          width: 4px;
          background: $ACCENT_COLOR;
          right: 0;
          content: "";
          //border-right: $ACCENT_COLOR 4px solid;
        }
      }

      &.nested >div{
          padding: 0 !important;
      }

      &.expanded >div{
        &:hover{
          background: $MAIN_COLOR - 20 !important;  
        }
        background: $MAIN_COLOR - 20 !important;
      }
  
      v-accordion{
        width: 100% !important;
        v-pane-header{
          margin: 0 !important;
          border: none !important;
          &:focus, &:hover{
            color: inherit !important;
          }
          &:after, &:before{
            visibility: hidden !important;
          }
          >div{
            width: 100% !important;
            display: flex !important;
            padding: 0 16px !important;
          }
        }
        v-pane-content{
          &.squashed{
            //max-height: 0 !important;
          }
          >div{
            padding: 0 !important;
          }
        }
      }
    }
  }
}