<section class="personal-info-wrapper">
	<ajax-loader promise="prsInfCtrl.promise"></ajax-loader>
	<div layout="{{prsInfCtrl.showUserInfo && prsInfCtrl.showPropsInfo?'row':'column'}}" flex>
		<div layout="column" flex="30" flex-order="{{!prsInfCtrl.showPropsInfo?1:0}}">
			<md-card >
				<md-card-header layout="row" layout-align="start center">
					<span>Информация о пользователе</span>
					<span flex></span>
					<hide-button is-active="prsInfCtrl.showUserInfo" colorize="false"></hide-button>	
				</md-card-header>
				<md-card-content ng-show="prsInfCtrl.showUserInfo">
					<md-table-container>
						<table class="users-table" md-table md-progress="prsInfCtrl.promise">
							<thead md-head>
								<tr md-row>
									<th md-column>Информация</th>
									<th md-column></th>
								</tr>
							</thead>
							<tbody md-body>
								<tr>
									<td md-cell>Имя</td>
									<td md-cell>{{prsInfCtrl.user.name}}</td>
								</tr>
								<tr>
									<td md-cell>Роль</td>
									<td md-cell>{{prsInfCtrl.user.roleTitle}}</td>
								</tr>
								<tr>
									<td md-cell>Организация</td>
									<td md-cell>{{prsInfCtrl.user.organisationData.name}}</td>
								</tr>
								<tr>
									<td md-cell>Группа</td>
									<td md-cell>{{prsInfCtrl.user.groupData.name}}</td>
								</tr>
								<tr>
									<td md-cell>Email</td>
									<td md-cell>{{prsInfCtrl.user.email}}</td>
								</tr>
								<tr ng-if="prsInfCtrl.user.role === 'student'">
									<td md-cell>Пол</td>
									<td md-cell>{{prsInfCtrl.user.genderTitle}}</td>
								</tr>
								<tr ng-if="prsInfCtrl.user.role === 'student'">
									<td md-cell>Возраст</td>
									<td md-cell>{{prsInfCtrl.user.age}}</td>
								</tr>
								<tr ng-if="prsInfCtrl.user.role === 'student'">
									<td md-cell>Курс</td>
									<td md-cell>{{prsInfCtrl.user.course}}</td>
								</tr>
							</tbody>
						</table>
					</md-table-container>

				</md-card-content>
			</md-card>

			<div flex></div>

		</div>

		<div layout="column" flex>
			<md-card>
				<md-card-header layout="row" layout-align="start center">
					<span>Психологические характеристики</span>
					<span flex></span>
					<md-button class="md-accent md-raised" ng-click="prsInfCtrl.doShowPropsDynamic()">
						{{prsInfCtrl.showPropsDynamic?'Скрыть динамикку':'Показать динамику'}}
					</md-button>
					<md-button class="md-orange md-raised" ng-click="prsInfCtrl.showPsyProfile = !prsInfCtrl.showPsyProfile">
						{{prsInfCtrl.showPsyProfile?'Скрыть профиль':'Психологический профиль'}}
					</md-button>
					<hide-button is-active="prsInfCtrl.showPropsInfo" colorize="false"></hide-button>	
				</md-card-header>
				<md-card-content layout="column" ng-show="prsInfCtrl.showPropsInfo">
					<md-table-container>
						<table class="users-table" md-table md-progress="prsInfCtrl.promise">
							<thead md-head>
								<tr md-row>
									<th md-column>Характеристика</th>
									<th md-column>Значение</th>
									<th md-column ng-show="prsInfCtrl.showPropsDynamic">Динамика</th>
								</tr>
							</thead>
							<tbody md-body>
								<tr ng-repeat="prop in prsInfCtrl.user.properties">
									<td md-cell>{{prop.propData.name}}</td>
									<td md-cell>{{prop.actuallVal.value}}</td>
									<td md-cell ng-show="prsInfCtrl.showPropsDynamic">
										<prop-dynamic prop="prop"></prop-dynamic>
									</td>
								</tr>
							</tbody>
						</table>
				</md-card-content>
			</md-card>

			<div flex></div>
		</div>

	</div>
</section>
