@import "../../styles/variables";
.personal-info-wrapper{
	md-card-header{
		background-color: $MAIN_COLOR;
		color: #fff;
		padding-bottom: 0;
		padding-top: 0;
	}

	.md-cell, .md-column{
		text-align: left !important;
	}
}