<section class="admin-wrapper">
	<ajax-loader promise="alsLtCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column" layout-align="center start">
			<div layout="column">
				<div flex layout="row">
					<h3>Модуль анализа</h3>
					<span flex></span>
				</div>
				<div flex layout="row">
				</div>
			</div>
			<div>
				<div ng-repeat="page in alsLtCtrl.analysePages" class="pages-list">
					<div>
						<div layout="row" layout-align="start center">
							<span>{{$index+1}}.</span>
							<a ng-click="alsLtCtrl.openPage(page)">{{page.title}}</a>
						</div>
						<div class="page-description">{{page.description}}</div>
					</div>
				</div>
			</section>
		</md-card-content>
	</md-card>

	<ui-view></ui-view>

</section>