<div class="create-ticket-form">
    <ajax-loader promise="crtTstCtrl.promise"></ajax-loader>
    <h3>Создание теста</h3>
    <md-card-content layout="column" layout-align="start start">
        <form name="testForm">
            <md-input-container>
                <label>Название теста</label>
                <input required ng-model="crtTstCtrl.formData.name" type="text">
            </md-input-container>

            <md-input-container>
                <label>Определяемая характеристика</label>
                <md-select ng-model="crtTstCtrl.formData.propId">
                        <md-option ng-value="prop.id" ng-repeat="prop in crtTstCtrl.properties"> 
                        <span>{{prop.name}}</span>
                        <span class="light-text">{{prop.description}}</span>
                        </md-option>    
                </md-select>
            </md-input-container>

            <md-input-container>
                <label>Тип теста</label>
                <md-select ng-model="crtTstCtrl.formData.type">
                        <md-option ng-value="type.type" ng-repeat="type in crtTstCtrl.testsTypes"> 
                        <span>{{type.title}}</span>
                        </md-option>    
                </md-select>
            </md-input-container>

            <md-input-container ng-if="crtTstCtrl.formData.type === 'external'">
                <label>URL - адрес</label>
                <input required ng-model="crtTstCtrl.formData.adress" type="text">
            </md-input-container>

            <md-input-container class="test-description">
                <label>Описание теста</label>
                <textarea required class="md-bordered" rows="5" ng-model="crtTstCtrl.formData.description" md-select-on-focus></textarea>
            </md-input-container>

        <div layout="row" layout-align="end center">
            <md-button class="md-raised md-primary" ng-click="callback()">Отмена</md-button>
            <md-button style="margin-left: 8px !important;" class="md-accent md-raised" ng-click="testForm.$valid?crtTstCtrl.createTest():null" type="submit">Создать</md-button>
        </div>
        </form>
    </md-card-content>
</div>