@import "../../../styles/variables.scss";

.create-ticket-form{
  md-input-container{
    width: 100%;
  }
  .test-description{
    &:not(.md-input-focused){
      label{margin-left: .5em !important;}
    }
    textarea{
      height: 130px !important;
      box-sizing: border-box;
      padding: .5em;
      border-width: 1px !important;
      border-color: $GREY_L !important;
    }
  }
  .md-errors-spacer{
    display: none !important;
  }
}