<div class="ticket-info-table">
<v-accordion class="vAccordion--default" multiple>
  <v-pane>
    <v-pane-header>
     <h3>Информация по заявкам</h3>
    </v-pane-header>
    <v-pane-content>
        <md-table-container>
            <table class="workers-table" md-table>
                <tbody md-body>
                    <tr md-row>
                        <td md-cell class="ticket-new">Новые</td>
                        <td md-cell>{{tksInfTbCtrl.tableData._new}}</td>
                    </tr>

                    <tr md-row>
                        <td md-cell class="ticket-in_progress">В работе</td>
                        <td md-cell>{{tksInfTbCtrl.tableData.in_progress}}</td>
                    </tr>

                    <tr md-row>
                        <td md-cell class="ticket-solved">Выполненные</td>
                        <td md-cell>{{tksInfTbCtrl.tableData.solved}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>  
    </v-pane-content>
  </v-pane>
</div>