alert-flash{
  position: absolute;
  //bottom: 0;
  left: 50%;
  top: 15px;
  width: 500px;
  margin-left: -250px;
  color: #fff;
  z-index: 99999;
  
    .alert{
      padding: .3em;
      font-size: .9em;
      //opacity: .8;
      box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
       //border-radius: 5px;
    }
    .alert-success{
      background-color: rgba(41, 255, 49, 0.75);
    }
    .alert-danger{
      background-color: rgba(255, 4, 21, 0.75);
    }
    .alert-info{
      background-color: rgba(10, 160, 255, 0.75);
    }

}