<section class="admin-wrapper">
	<ajax-loader promise="prpsCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column">
				<div flex layout="row">
					<h3>Психологические характеристики</h3>
					<span flex></span>
				</div>
				<div flex layout="row" ng-if="prpsCtrl.isCRUD">
					<add-button title="Добавить характеристику" ng-click="prpsCtrl.addProperty()"></add-button>
					<span flex></span>
					<edit-button is-active="prpsCtrl.editMode"></edit-button>
				</div>
			</div>

			<md-table-container>
				<table class="users-table" md-table md-progress="prpsCtrl.promise">
					<thead md-head>
					<tr md-row>
						<th md-column>Название</th>
						<th md-column>Тип</th>
						<th md-column>Описание</th>
						<th md-column>Мин. значение</th>
						<th md-column>Макс. значение</th>
						<th md-column ng-if="prpsCtrl.editMode">Удалить</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row md-auto-select ng-repeat="property in prpsCtrl.properties | orderBy: 'name' | orderBy: 'type'">
						<td md-cell>
							<md-input-container ng-if="prpsCtrl.editMode">
								<input type="text" ng-model="property.name" ng-blur="prpsCtrl.updateProperty(property)">
							</md-input-container>
							<span ng-if="!prpsCtrl.editMode">
								{{property.name}}
							</span>
						</td>
						<td md-cell>
							<md-input-container ng-if="prpsCtrl.editMode" 
												class="select-cell" 
												ng-click="prpsCtrl.ping($event)">
									<md-select ng-model="property.type" ng-change="prpsCtrl.updateProperty(property)" >
										<md-option ng-value="type.type" ng-repeat="type in prpsCtrl.propertyTypes">	{{type.title}}
										</md-option>	
									</md-select>
							</md-input-container>
							<span ng-if="!prpsCtrl.editMode">
								{{property.typeTitle}}
							</span>	
						</td>
						<td md-cell>
							<md-input-container ng-if="prpsCtrl.editMode">
								<input type="text" ng-model="property.description" ng-blur="prpsCtrl.updateProperty(property)">
							</md-input-container>
							<span ng-if="!prpsCtrl.editMode">
								{{property.description}}
							</span>
						</td>
						<td md-cell>
							<md-input-container ng-if="prpsCtrl.editMode">
								<input type="number" ng-model="property.min" ng-blur="prpsCtrl.updateProperty(property)">
							</md-input-container>
							<span ng-if="!prpsCtrl.editMode">
								{{property.min}}
							</span>
						</td>
						<td md-cell>
							<md-input-container ng-if="prpsCtrl.editMode">
								<input type="number" ng-model="property.max" ng-blur="prpsCtrl.updateProperty(property)">
							</md-input-container>
							<span ng-if="!prpsCtrl.editMode">
								{{property.max}}
							</span>
						</td>
						<td md-cell class="with-button" ng-if="prpsCtrl.editMode">
							<remove-button is-disabled="property.members.length" ng-click="prpsCtrl.removeProperty(property)"></remove-button>
						</td>
					</tr>
					</tbody>
				</table>
		</md-table-container>

		</md-card-content>
	</md-card>

</section>