<div class="prop-dynamic-wrapper">
	<h2>{{prop.propData.name}}</h2>
	<div ng-if="prop.data.length > 1">
		<div layout="column" class="info">
			<h3>Кол-во точек изменения: <span>{{prop.data.length}}</span></h3>
			<h3>Последнее изменение: <span>{{prop.data[prop.data.length-1].date}}</span></h3>	
		</div>
		<canvas
		height="50" 
	    id="line" 
	    class="chart chart-line" 
	    chart-data="data"
	    chart-labels="labels" 
	    chart-series="series"
	    chart-options="options"
	    chart-dataset-override="datasetOverride"
	    chart-click="onClick">
	    </canvas>
	</div>
	<div ng-if="prop.data.length <= 1">
		Данные о динамике изменения характеристики отсутствуют
	</div>
</div>