<section class="admin-wrapper">
	<ajax-loader promise="admUsrsCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column">
				<div flex layout="row">
					<h3>Пользователи</h3>
					<span flex></span>
				</div>
				<div flex layout="row">
<!-- 					<md-button class="md-accent md-raised" ng-click="admUsrsCtrl.addUser()">Добавить пользователя</md-button> -->
					<add-button title="Добавить пользователя" ng-click="admUsrsCtrl.addUser()"></add-button>
					<span flex></span>
<!-- 					<md-button class="md-primary md-raised md-icon-button" ng-click="admUsrsCtrl.editMode = !admUsrsCtrl.editMode">
	<md-tooltip>Редактировать</md-tooltip>	
	<md-icon class="white-icon" md-svg-src="{{ ::admUsrsCtrl.icons.editMode}}"></md-icon>	
</md-button> -->
					<edit-button is-active="admUsrsCtrl.editMode"></edit-button>
				</div>
			</div>

			<md-table-container>
				<table class="users-table" md-table md-progress="admUsrsCtrl.promise">
					<thead md-head>
					<tr md-row>
						<th md-column>Имя</th>
						<th md-column>Роль</th>
						<th md-column>Email</th>
						<th md-column>Логин</th>
						<th md-column>Пароль</th>
						<th md-column ng-if="admUsrsCtrl.editMode">Удалить</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row md-auto-select ng-repeat="user in admUsrsCtrl.users | orderBy: 'name' | orderBy: 'role'">
						<td md-cell>
							<md-input-container ng-if="admUsrsCtrl.editMode">
								<input type="text" ng-model="user.name" ng-blur="admUsrsCtrl.updateUser(user)">
							</md-input-container>
							<span ng-if="!admUsrsCtrl.editMode">
								{{user.name}}
							</span>
						</td>
						<td md-cell>
					<!--	<md-input-container class="select-cell" ng-click="admUsrsCtrl.ping($event)">-->
							<md-select ng-model="user.role" ng-change="admUsrsCtrl.updateUser(user)" ng-if="admUsrsCtrl.editMode">
								<md-option ng-value="role.type" ng-repeat="role in admUsrsCtrl.userRoles">	{{role.title}}
								</md-option>	
							</md-select>
							<span ng-if="!admUsrsCtrl.editMode">
								{{user.roleTitle}}
							</span>	
					<!--	</md-input-container>-->
						</td>
						<td md-cell>
							<md-input-container ng-if="admUsrsCtrl.editMode">
								<input type="email" ng-model="user.email" ng-blur="admUsrsCtrl.updateUser(user)">
							</md-input-container>
							<span ng-if="!admUsrsCtrl.editMode">
								{{user.email}}
							</span>
						</td>
						<td md-cell>{{user.login}}</td>
						<td md-cell>{{user.openPassword}}</td>
						<td md-cell class="with-button" ng-if="admUsrsCtrl.editMode">
							<!-- 								<md-button class="md-icon-button md-warn md-raised" ng-click="admUsrsCtrl.removeUser(user)">
								<md-icon class="white-icon" md-svg-src="{{ ::admUsrsCtrl.icons.deleteUser}}"></md-icon>
							</md-button> -->
							<remove-button ng-click="admUsrsCtrl.removeUser(user)"></remove-button>
						</td>
					</tr>
					</tbody>
				</table>
			</md-table-container>

		</md-card-content>
	</md-card>

</section>