<section class="admin-wrapper">
	<ajax-loader promise="mbrsCtrl.promise"></ajax-loader>
	<md-card>
		<md-card-content layout="column">
			<div layout="column">
				<div flex layout="row">
					<h3>Список участников</h3>
					<span flex></span>
				</div>
				<div flex layout="row">
					<add-button title="Добавить студента" ng-click="mbrsCtrl.addMember()"></add-button>
					<span flex></span>
					<edit-button is-active="mbrsCtrl.editMode"></edit-button>
				</div>
			</div>

			<md-table-container>
				<table class="users-table" md-table md-progress="mbrsCtrl.promise">
					<thead md-head>
					<tr md-row>
						<th md-column>Имя</th>
						<th md-column>Пол</th>
						<th md-column>Курс</th>
						<th md-column>Возраст</th>
						<th md-column>Группа</th>
						<th md-column>Организация</th>
						<!-- <th md-column ng-if="!mbrsCtrl.editMode">Список представителей</th> -->
						<th md-column ng-if="mbrsCtrl.editMode">Удалить</th>
					</tr>
					</thead>
					<tbody md-body>
					<tr md-row md-auto-select ng-repeat="member in mbrsCtrl.members | orderBy: 'name' | orderBy: 'type'">
 						<td md-cell>
							<md-input-container ng-if="mbrsCtrl.editMode">
								<input type="text" ng-model="member.name" ng-blur="mbrsCtrl.updateMember(member)">
							</md-input-container>
							<span ng-if="!mbrsCtrl.editMode">
								{{member.name}}
							</span>
						</td>
						<td md-cell>
							<md-select ng-model="member.gender" ng-change="mbrsCtrl.updateMember(member)" ng-if="mbrsCtrl.editMode">
								<md-option ng-value="gender.type" ng-repeat="gender in mbrsCtrl.genderTypes">{{gender.title}}</md-option>	
							</md-select>
							<span ng-if="!mbrsCtrl.editMode">
								{{member.genderTitle}}
							</span>	
						</td>
						<td md-cell>
							<md-select ng-model="member.course" ng-change="mbrsCtrl.updateMember(member)" ng-if="mbrsCtrl.editMode">
								<md-option ng-value="course" ng-repeat="course in mbrsCtrl.courses">	{{course}}
								</md-option>	
							</md-select>
							<span ng-if="!mbrsCtrl.editMode">
								{{member.course}}
							</span>	
						</td>
						<td md-cell>
							<span>{{member.age}}</span>
						</td>
						<td md-cell>
							<md-select ng-model="member.group" ng-change="mbrsCtrl.updateMember(member)" ng-if="mbrsCtrl.editMode">
								<md-option ng-value="group.id" ng-repeat="group in mbrsCtrl.groups">	{{group.name}}
								</md-option>	
							</md-select>
							<span ng-if="!mbrsCtrl.editMode">
								{{member.groupData.name}}
							</span>
						</td>
						<td md-cell>
							<md-select ng-model="member.organisation" ng-change="mbrsCtrl.updateMember(member)" ng-if="mbrsCtrl.editMode">
								<md-option ng-value="organisation.id" ng-repeat="organisation in mbrsCtrl.organisations">{{organisation.name}}</md-option>	
							</md-select>
							<span ng-if="!mbrsCtrl.editMode">
								{{member.organisationData.name}}
							</span>	
						</td>
						<td md-cell class="with-button" ng-if="mbrsCtrl.editMode">
							<remove-button ng-click="mbrsCtrl.removeMember(member)"></remove-button>
						</td>
					</tr>
					</tbody>
				</table>
		</md-table-container>

		</md-card-content>
	</md-card>

</section>