<md-button  
		   ng-class="{
				'md-icon-button':!title,
				'md-primary': colorize,
				'md-raised': colorize,
				'md-icon-button':!title
			}"
		   layout="row" layout-align="center center"
		   ng-click="isActive = !isActive"
		   ng-disabled="isDisabled">

	<md-icon ng-if="withIcon && isActive" class="white-icon" md-svg-src="{{hdBtnCtrl.icons.showed}}"></md-icon>

	<md-icon ng-if="withIcon && !isActive" class="white-icon" md-svg-src="{{hdBtnCtrl.icons.hidden}}">
	</md-icon>

	<md-tooltip ng-if="isActive">Скрыть</md-tooltip>	
	<md-tooltip ng-if="!isActive">Показать</md-tooltip>
	

</md-button>