<div class="test-view-wrapper" layout="column">
    <div class="question-item" ng-repeat="question in test.questions" flex>
        <div layout="row" layout-align="start top">
            <div class="question-index">{{$index+1}}.</div>
            <div class="question-content" layout="column">
                <div class="question-title">{{question.title}}</div>
                <div class="question-description">{{question.description}}</div>
                    
                <md-radio-group ng-model="question.answer" layout="row">
                  <md-radio-button ng-repeat="variant in question.variants" value="{{variant.weight}}">{{variant.value}}</md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </div>
    <div layout="row" layout-align="end center" flex>
        <div class="answers-count">Ответов: {{tstVwCtrl.answersCount}}<span class="light-text">/{{test.questions.length}}</span></div>
        <span flex></span>
         <md-button 
         ng-disabled="tstVwCtrl.answersCount < test.questions.length" 
         class="md-raised md-accent" 
         ng-click="tstVwCtrl.completeTest($event)">
            Завершить прохождение теста
        </md-button>       
    </div>
</div>